Source: pine64-linux
Section: kernel
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>=9), dh-systemd
Standards-Version: 3.9.8
Homepage: https://github.com/ayufan-pine64/linux-build/releases

Package: pine64-linux-image
Architecture: arm64
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: kernel package for the ODROID pine64
 This package contains the nececssary kernel bits to boot
 a pine64
