Source: pine64-linux
Section: kernel
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: bc, build-essential, debhelper (>=9), lzop, u-boot-tools
Standards-Version: 3.9.8
Homepage: https://github.com/hardkernel/linux/tree/odroidc-3.10.y

Package: pine64-linux-image
Architecture: arm64
Depends: pine64-uboot, ${misc:Depends}, ${shlibs:Depends}
Description: kernel package for the ODROID C2
 This package contains the nececssary kernel bits to boot
 a ODROID C2
