#!/usr/bin/make -f

export KCPPFLAGS += -fno-pie
export DEB_BUILD_MAINT_OPTIONS = hardening=-relro
export DH_VERBOSE = 1

%:
	dh $@ --parallel

override_dh_auto_configure:
	$(MAKE) VERBOSE=1 sun50iw1p1smp_linux_defconfig
	dh_auto_configure

override_dh_auto_build:
	dh_auto_build -- V=1 Image dtbs modules
override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_install:
	mkdir -p debian/tmp/boot/
	INSTALL_PATH=debian/tmp/boot/ dh_auto_install
	$(MAKE) V=1 INSTALL_MOD_PATH=debian/tmp/ INSTALL_MOD_STRIP=1 modules_install
